.gradient-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
}


#block {
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.612) 2%, rgba(13, 9, 62, 0.179) 100%);
}

.bundleInfo {
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
}

.disclaimer {
  background: linear-gradient(-60deg, rgba(226, 244, 255, 0.2) 0%, rgba(97, 100, 101, 0.2) 100%);
}

.contentHeader,
.eventHeader {
  border-bottom: 1px solid #8f98a0;
}

.browseButton {
  border: 1px solid #8f98a0;
}

.content {
  background: linear-gradient(135deg, rgba(97, 100, 101, 0.3) 0%, rgba(226, 244, 255, 0.3) 100%);
}

.moreButton p {
  border: 1px solid #8f98a0;
}


@media (max-width: 1024px) {
  #container {
    padding: 1rem;
  }
}

@media (max-width: 321px) {
  #container {
    padding: 1rem;
  }

  .bundleInfo {
    display: none;
  }
}

@media (max-width: 426px) {
  #container {
    padding: 1rem;
  }
}

.border-white {
  border: 2px solid white;
}

.product-detail-button:hover {
  background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);
  color: #ffffff;
  cursor: pointer;
}

.gradient-price {
  background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
}

.gradient-price-button {
  background: linear-gradient( to right, #75b022 5%, #588a1b 95%)
}

.gradient-product-body {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.612) 2%, rgba(13, 9, 62, 0.179) 100%);
}

.gradient-sys-reqs {
  background: linear-gradient(to right, rgba(58, 110, 139, 0.2) 0%, rgba(58, 110, 139, 0) 100%);
}

.border-gradient {
  border-bottom-width: 1px;
  border-image: linear-gradient(to right, #3c6c8c, #1b2838) 1;
}